*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

* {
    font-family: 'DPXWalletIRANYekanX', Arial, Helvetica, sans-serif;
    transition: color, background-color, opacity .15s;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 15px;
}

*:not(input):not(textarea):not([contenteditable="true"]) {
    user-select: none;
}

body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-family: 'DPXWalletIRANYekanX', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 2;
    font-weight: 400;
    font-variation-settings: "wght" 400, "dots" 2;

    &::-webkit-scrollbar { display: none; width: 0 !important; }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;
}

a, .link {
    color: var(--tg-theme-link-color);
}

.hint {
    color: var(--tg-theme-hint-color);
}

.button {
    border: 1px solid transparent;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.325rem 1.25rem;
    border-radius: 0.375rem;
    gap: 0.325rem;

    &:not(.secondary):not(.button-progress):not(.danger):not(.normal) {

        &:hover, &:focus {
            border-color: var(--tg-theme-button-color);
            color: var(--tg-theme-button-color);
            background-color: transparent;
        }

    }

    &:disabled {
        opacity: 0.625;
        pointer-events: none;
    }

    > i {
        font-size: 1.25rem;
    }

    &.secondary {
        background-color: transparent;
        color: var(--tg-theme-button-color);

        &:hover, &:focus {
            opacity: 0.75;
        }
    }

    &.danger {
        background-color: var(--button-danger);
        color: white;

        &:not(.normal) {
            &:hover, &:focus {
                border-color: var(--button-danger);
                color: var(--button-danger);
                background-color: transparent;
            }
        }
    }
}

b {
    font-variation-settings: "wght" 600;
}

a, label, button, .button {
    cursor: pointer;
}

.shimmer-container {
    display: grid;
}

.shimmer-container li, .shimmer {
    position: relative;
    overflow: hidden;
    background-color: var(--shimmer-static-bg);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    isolation: isolate;

    &::after {
      z-index: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
                      90deg,
                      rgba(#fff, 0) 0,
                      rgba(#fff, 0.2) 20%,
                      rgba(#fff, 0.5) 60%,
                      rgba(#fff, 0)
      );
      animation: shimmer 2s infinite;
      content: '';
    }
}
  
@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

@-moz-keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

@-o-keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

input[type=text], input[type=password], input[type=number], textarea, select, .vs__dropdown-toggle {
    outline: none;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--tg-theme-hint-color);
    border-radius: 0.325rem;
    background: transparent;
    color: var(--tg-theme-text-color);
    
    &:hover, &:focus {
        border-color: var(--tg-theme-button-color);
    }

    &:disabled {
        opacity: 0.75;
    }
}

textarea {
    resize: vertical;
    min-height: 8rem;
    unicode-bidi: plaintext;
}

select, select option {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.slide-left-enter-active,
.slide-left-leave-active {
    transition: all 0.15s ease-out;
}
.slide-left-enter-to {
    position: absolute;
    right: 0;
    opacity: 1;
}
.slide-left-enter-from {
    position: absolute;
    right: -100%;
    opacity: 0.25;
}
.slide-left-leave-to {
    position: absolute;
    left: -100%;
}
.slide-left-leave-from {
    position: absolute;
    left: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.15s ease-out;
}
.slide-right-enter-to {
    position: absolute;
    left: 0;
    opacity: 1;
}
.slide-right-enter-from {
    position: absolute;
    left: -100%;
    opacity: 0.25;
}
.slide-right-leave-to {
    position: absolute;
    right: -100%;
}
.slide-right-leave-from {
    position: absolute;
    right: 0;
}

.main-wrapper {
    display: block;
    width: 100%;
    padding: 1rem;
}

#app {
    height: 100vh;

    > div {
        height: 100%;
    }
}

.form-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0.25rem;

    > label {
        font-size: 1.125remrem;
    }

    input {
        width: 100%;

        &:hover ~ i, &:focus ~ i {
            color: var(--tg-theme-button-color);
        }
    }

    > div {
        display: block;
        width: 100%;
        position: relative;

        > i {
            position: absolute;
            top: 50%;
            left: 0.5rem;
            transform: translateY(-50%);
            font-size: 1.25rem;
            padding: 1rem 0.5rem;
            cursor: pointer;

            &:nth-of-type(2) {
                transform: translateX(100%) translateY(-50%);
            }
        }
    }
}

.button-progress {
    width: 100%;
    height: 3.5rem;
    padding: 0;
    transition: width .25s, border-radius .25s, border-color .25s, border-width .25s, border-color .25s;

    &.button-progress-progress, &.button-progress-success, &.button-progress-failed {
        opacity: 1 !important;
        width: 3.5rem;
        content: '';
        border-radius: 100rem;
        border: 0.25rem solid var(--tg-theme-button-color);
        background: transparent;
        position: relative;
    }

    &.button-progress-success, &.button-progress-failed {

        > span {
            display: none;
        }

        > i {
            transition: opacity .5s;
            opacity: 1;
            color: var(--tg-theme-button-color);
            font-size: 2.25rem;
        }

    }

    &.button-progress-success {
        border-color: var(--success-green);

        > i::before {
            content: '\e93e';
            color: var(--success-green);
        }
    }

    &.button-progress-failed {
        border-color: var(--failed-red);

        > i::before {
            content: '\e939';
            color: var(--failed-red);
        }
    }

    &.button-progress-progress {
        animation: 1s linear infinite rotation;
        animation-delay: 0.25s;
        
        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        > span {
            position: absolute;
            content: '';
            width: 1rem;
            height: 1rem;
            border-radius: 100rem;
            background-color: var(--tg-theme-bg-color);
            color: var(--tg-theme-bg-color);
            border-radius: -10px;
            top: 0;
            transform: translateY(-50%);
            overflow: hidden;

            &::before, &::after {
                content: '';
                width: 0.25rem;
                height: 0.25rem;
                background-color: var(--tg-theme-button-color);
                position: absolute;
                top: 45%;
                left: 0;
                transform: translateY(-50%) translateX(-50%);
                border-radius: 100rem;
            }

            &::after {
                left: 100%;
            }
        }

        > i {
            opacity: 0;
        }
    }
}

.toastify {
    max-width: 100%;
}